@media only screen and (min-width: 700px) {
  h1 {
    clear: both;
  }

  .icon-menu {
    visibility: hidden;
  }

  .main-nav {
    visibility: visible;
  }
}

@media only screen and (max-width: 699px) {
  /*#nav {
    visibility: hidden;
  }*/

  #welcome-message {
    width: 90%;
  }

  .main-nav ul, .main-nav p {
    visibility: hidden;
  }

  .main-nav:hover ul, .main-nav p {
    display: inline-block;
    visibility: visible;
    width: 100%;
  }

  .icon-menu {
    visibility: visible;
  }


  .filters li {
    display: block;
  }

  .filters select {
    display: inline;
    width: 75%;
  }
}
