* {
  font-family: 'Impact', sans-serif;
}

h1 {
  font-family: 'Arima Madurai', cursive;
  font-size: 50px;
}

.contact {
  font-size: 25px;
}


.contact ul {
  display: inline-flex;
  content: center;
}

.contact li {
  display: inline-block;
  margin-left: 10%;
}

#welcome-message, #projectPlaceholder{
  display: inline-block;
  text-align: center;
  width: 70%;
  float: right;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 25px;
}

.template {
  display: none;
}
