/*When defining the rule set for a module, avoid using IDs and element selectors, sticking only to class names. A module will likely contain a number of elements and there is likely to be a desire to use descendent or child selectors to target those elements. */

@media only screen and (min-width: 700px) {
  h1 {
    clear: both;
  }

  .icon-menu {
    visibility: hidden;
  }
}

@media only screen and (max-width: 699px) {
  #nav {
    visibility: hidden;
  }

  #welcome-message {
    width: 90%;
  }

  /*.contact ul, .contact p {
    visibility: hidden;
  }*/

  .contact:hover ul, .contact p {
    visibility: visible;
  }

  .icon-menu {
    visibility: visible;
  }

  #nav:hover h3 {
    visibility: visible;
  }
}
